{% extends 'base.html' %}

{% block title %}Checkout Your Card{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pdf.css') }}">
{% endblock %}

{% block content %}
    {% if base64_pdf %}
        <a href="/" type="button" class="custom-button">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
            </svg>
            <span>Go back And Generate a New Qr Code</span>
        </a>
        <embed src="data:application/pdf;base64,{{ base64_pdf }}"/>
    {% endif %}

{% endblock %}
